.home {
	max-width: 80rem;
    margin: 0.5rem auto 0 auto;
    padding: 0 0.6rem;
}

.action-btn {
    display: flex;
    justify-content: end;
}

.parametres {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #F5F5F5;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .action-btn {
        margin-top: 1.5rem;
    }

    .parametres {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}