@keyframes blink {
    0% {
      color: green;
    }
    50% {
      color: transparent;
    }
    100% {
      color: green;
    }
  }
  
  .yahtzee {
    animation: blink 1s infinite;
  }

  .held-dice {
    text-align: center;
    padding: 0.2rem;
  }